html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Size */
  --size-unit: 4px;
  --double-size-unit: calc(var(--size-unit) * 2);
  --four-size-unit: calc(var(--size-unit) * 4);
  --six-size-unit: calc(var(--size-unit) * 6);
  --eight-size-unit: calc(var(--size-unit) * 8);
  --ten-size-unit: calc(var(--size-unit) * 10);
  --fifty-size-unit: calc(var(--size-unit) * 50);
  --half-size-unit: calc(var(--size-unit) / 2);

  --margin-size: var(--size-unit);
  --margin-size-2: var(--four-size-unit);
  --padding: var(--size-unit) var(--double-size-unit);
  --padding-2: var(--double-size-unit) var(--four-size-unit);
  --padding-panel: 1rem 2rem;
  --padding-layout: 0 2rem;
  --padding-button: var(--double-size-unit) var(--double-size-unit);
  --padding-input: var(--double-size-unit) var(--double-size-unit);
  --border-radius: var(--half-size-unit);
  --border-radius-2: var(--size-unit);
  --border-radius-3: var(--double-size-unit);

  --font-size: var(--four-size-unit);
  --font-size-title: var(--ten-size-unit);
  --font-size-title-2: var(--eight-size-unit);
  --font-size-title-3: var(--six-size-unit);
  --font-size-button: var(--four-size-unit);

  --profile-picture-size: var(--ten-size-unit);
  --profile-picture-big-size: var(--fifty-size-unit);

  --border-size-input: 2px;

  --card-width: 320px;
  --card-height: 200px;
  --big-card-max-width: 800px;
  --big-card-min-height: 520px;

  /* Colors */
  --bg-color: white;

  --main-color: #3179ff;
  --main-font-color: white;
  --main-color-negative: #ff315e;

  --complementary-color: #fa2daf;

  --secondary-font-color: black;

  --main-shadow-color: rgba(0, 0, 0, 0.15);
  --card-shadow-color: rgba(0, 0, 0, 0.35);
  --main-shadow: 0 var(--half-size-unit) var(--double-size-unit) var(--main-shadow-color);
  --card-shadow: 0 var(--half-size-unit) var(--double-size-unit) var(--card-shadow-color);

  --input-bg-color: #eee;
  --input-border-color: transparent;
  --input-bg-color-focus: white;
  --input-border-color-focus: #eee;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  background: var(--bg-color);
}

button {
  cursor: pointer;
}